extends ../templates/layout

block content  
    h3 Borrar un entrenador
        div.container
            form(method="post") 
                label(for="nombre") Nombre:
                input.form-control(type="text", name="nombre", value=`${entrenador.Nombre}`,disabled)
                br
                label(for="especialidad") Especialidad:
                input.form-control(type="text", name="text", value=`${entrenador.Especialidad}`,disabled)
                br
                label(for="nivel_experiencia") Nivel experiencia:
                input.form-control(type="text", name="text", value=`${entrenador.Nivel_Experiencia}`,disabled)
                br
                input(type="hidden", name="id", value=`${entrenador.id}`)
                button.btn.btn-danger(type="submit") Confirmar
