extends ../templates/layout

block content
  h3 Eliminar un entrenador
  div
    form(method="post") 
      label(for="nombre") Nombre:
      input(type="text", name="nombre", value=entrenador.Nombre, disabled)  
      br
      label(for="especialidad") Especialidad:
      input(type="text", name="especialidad", value=entrenador.Especialidad, disabled)  
      br
      label(for="nivel_experiencia") Nivel de experiencia:
      input(type="text", name="nivel_experiencia", value=entrenador.Nivel_Experiencia, disabled) 
      br
      input(type="hidden", name="id", value=entrenador.id)  
      input(type="submit", value="Eliminar")
