extends ../templates/layout

block content  
    h3 Editar un entrenador
            div 
                form(method="post") 
                    label(for="nombre") Nombre:
                    input(type="text", name="nombre", value=`${Entrenador.Nombre}`)
                    br
                    label(for="especialidad") Especialidad:
                    input(type="text", name="text", value=`${Entrenador.Especialidad}`)
                    br
                    label(for="nivel_experiencia") Nivel experiencia:
                    input(type="text", name="text", value=`${Entrenador.Nivel_Experiencia}`)
                    br
                    input(type="hidden", name="id", value=`${Entrenador.id}`)
                    input(type="submit", value="Enviar")




