extends ../templates/layout

block content
  h3 Editar un entrenador
   div.container
    form(method="post") 
      label(for="nombre") Nombre:
      input.form-control(type="text", name="nombre", value=entrenador.Nombre) 
      div.form-group
      label(for="especialidad") Especialidad:
      input.form-control(type="text", name="especialidad", value=entrenador.Especialidad)  
      div.form-group
      label(for="nivel_experiencia") Nivel experiencia:
      input.form-control(type="text", name="nivel_experiencia", value=entrenador.Nivel_Experiencia)  
      div.form-group
      input(type="hidden", name="id", value=entrenador.id) 
      button.btn.btn-primary(type="submit") Guardar Cambios