extends ../templates/layout

block content  
    h3 Añadir un nuevo cliente
        div 
            form(action="/Cliente/add", method="post") 
                label(for="nombre") Nombre:
                input(type="text", name="nombre")
                br
                label(for="email") Correo:
                input(type="email", name="email")  
                br        
                label(for="fecha_registro") Fecha de registro:   
                input(type="date", name="date") 
                br
                label(for="telefono") Telefono:    
                input(type="number", name="number")      
                br       
                input(type="submit", value="Enviar")