extends ../templates/layout

block content
  h3 Eliminar Cliente
  div.container
    if cliente
      p ¿Estás seguro de que deseas eliminar al cliente "#{cliente.Nombre}"?
      form(action=`/Cliente/delete/${cliente.id}` method="post")
        button.btn.btn-danger(type="submit") Confirmar Eliminación
        a.btn.btn-secondary(href="/Cliente") Cancelar
    else
      p No se ha encontrado el cliente.
