extends ../templates/layout

block content
  div.container
    h2 Mi Perfil

    form(action='/Cliente/mi-perfil' method='POST')
      div.mb-3
        label(for='Nombre') Nombre
        input.form-control(type='text' name='Nombre' value=cliente.Nombre required)

      div.mb-3
        label(for='Correo') Correo Electrónico
        input.form-control(type='email' name='Correo' value=cliente.Correo required)

      div.mb-3
        label(for='Telefono') Teléfono
        input.form-control(type='text' name='Telefono' value=cliente.Telefono required)

      button.btn.btn-primary(type='submit') Guardar Cambios

    // Botón para eliminar el perfil
    form(action='/Cliente/eliminar-perfil' method='POST' class='mt-3')
      button.btn.btn-danger(type='submit') Eliminar Perfil
