extends ../templates/layout

block content
  div.container
    h2 Completa tu Registro

    form(action='/Cliente/registro' method='POST')
      div.mb-3
        label(for='Nombre') Nombre
        input.form-control(type='text' name='Nombre' placeholder='Introduce tu nombre' required)

      div.mb-3
        label(for='Correo') Correo Electrónico
        input.form-control(type='email' name='Correo' placeholder='Introduce tu correo electrónico' required)

      div.mb-3
        label(for='Telefono') Teléfono
        input.form-control(type='text' name='Telefono' placeholder='Introduce tu número de teléfono' required)

      button.btn.btn-primary(type='submit') Registrar
