h3 Añadir un nuevo plan
    div 
        form(action="/Plan_Membresia/add", method="post") 
            label(for="nombre") Nombre:
            input(type="text", name="nombre")
            br
            label(for="duracion") Duración en meses:
            input(type="number", name="number")  
            br        
            label(for="costo") Costo:    
            input(type="number", name="number")      
            br       
            input(type="submit", value="Enviar")


    