
h3 Editar un plan
        div 
            form(method="post") 
                label(for="nombre") Nombre:
                input(type="text", name="nombre", value=`${Plan_Membresia.Nombre}`)
                br
                label(for="duracion") Duracion en meses:
                input(type="number", name="number", value=`${Plan_Membresia.Duracion_Meses}`)
                br
                label(for="costo") Costo:
                input(type="number", name="number", value=`${Plan_Membresia.Costo}`)
                br
                input(type="hidden", name="id", value=`${Plan_Membresia.id}`)
                input(type="submit", value="Enviar")

               